<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="Language" content="en"/>
		<link href="{{ asset('assets/bootstrap.min.css') }}" rel="stylesheet" type="text/css" media="all"/>
		<link href="{{ asset('assets/style.css') }}" rel="stylesheet" type="text/css" media="all"/>

		<title>Symfony workshop | {% block title %}{% endblock %}</title>

	</head>
	<body>
		<div class="container">

			<div class="masthead">
				<h3 class="muted">Symfony Workshop</h3>

				<ul class="nav nav-tabs">
					<li><a href="#">link 1</a></li>
					<li><a href="#">link 2</a></li>
					<li><a href="#">link 3</a></li>
				</ul>
			</div>

			{% for flash_message in app.session.flashbag.get('success') %}
				<div class="alert alert-success">
					{{ flash_message }}
				</div>
			{% endfor %}

			{% block content %}{% endblock %}
		</div>
	</body>
</html>